@import 'https://fonts.googleapis.com/css?family=Inconsolata';

html {
  min-height: 100%;
}

body {
  background-color: rgba(188, 195, 202, 1);
  padding: 0px;
  margin: 0px;
}

.header2 {
  margin: 16px 2px 1px 2px;
  font-size: 40px;
  font-weight: 700;
}

.header5 {
  margin: 0px 2px 20px 2px;
  font-size: 30px;
  font-weight: 700;
}

.static {
  position: relative; #absolute
  padding: 0px;
  #box-sizing: border-box;
  width: 100%;
  #height: 98%;
  height: 60.0vh;
  min-height: 560px;
  #z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  background-image: radial-gradient(rgba(17, 88, 30, 0.99), rgba(4, 22, 7, 0.98)), url("../img/error/static2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgba(128, 255, 128, 0.74);
  text-shadow:
      0 0 1ex rgba(51, 255, 51, 0.9),
      0 0 2px rgba(255, 255, 255, 0.7);
}

#main_container {

}

#main_block {
  margin: auto;
  width: 550px;
  #min-width: 550px;
  #max-width: 850px;
  border: 4px solid black;
  border-radius: 11px;
  box-shadow:
      0 0 4px rgba(28, 188, 28, 0.6),
      0 0 6px rgba(0, 0, 0, 0.9);
}

#blockhash {
  max-width: 260px;
  word-wrap: break-word;
}

.colorred {
  color: rgba(255, 112, 112, 0.70);
  text-shadow:
      0 0 1ex rgba(255, 51, 51, 0.9),
      0 0 2px rgba(255, 172, 172, 0.64);
}

.coloryellow {
  color: rgba(245, 200, 66, 0.70);
  text-shadow:
      0 0 1ex rgba(245, 188, 66, 0.9),
      0 0 2px rgba(255, 222, 172, 0.64);
}

.sendlogo {
  padding: 0px;
  margin: 0px;
  pointer-events: none;
  position: absolute;
  width: 99%;
  height: 95%;
  background-image: url("../img/SEND007b.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  #z-index: -1;
  opacity: 0.11;
}

.noise {
  padding: 0px;
  margin: 0px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  #background-image: url("../img/error/static3.gif");
  background-repeat: no-repeat;
  background-size: cover;
  #z-index: -1;
  opacity: 0.03;
}

.overlay {
  padding: 0px;
  margin: 0px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  #z-index: 1;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 0%,
      rgba(32, 128, 32, 0.2) 2%,
      rgba(32, 128, 32, 0.8) 3%,
      rgba(32, 128, 32, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 11.5s linear 0s infinite;
}

@keyframes scan {
  0%        { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}

.terminal-center {
  margin: auto;
  width: 60%;
}

.terminal {
  box-sizing: inherit;
  position: relative;
  #height: 98%;
  width: 900px;
  max-width: 100%;
  #padding: 4rem;
  padding-top: 0.7rem;
  text-transform: uppercase;
}

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
  content: "> ";
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.8s;
  transition-delay: 0.2s;
}

a:hover {
  text-decoration: none;
  text-shadow:
    -1px -1px 3px rgba(145, 255, 202, 0.94),
    1px -1px 3px rgba(145, 255, 202, 0.94),
    -1px 1px 3px rgba(145, 255, 202, 0.94),
    1px 1px 3px rgba(145, 255, 202, 0.94);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0.01s;
}

a::before {
  content: "[";
}

a::after {
  content: "]";
}

.fontwhite {
  color: rgba(255, 255, 255, 0.77);
}

@media only screen and (max-width: 600px) {
  #main_block {
    width: 340px;
  }
  #blockhash {
    max-width: 260px;
  }
  .terminal {
      padding-top: 0.1rem;
  }
  .terminal-center {
    width: 80%;
  }
}
